/*  LOGIN SCREEN Color CSS Code */
/*  Color CSS Code */
:root {
  --login-button-background-color: #fff;
  --login-button-background-hover-color: #1690ff;
  --main-body-background-color: #333;
  --input-box-background-color: #fff;
  --login-heading-color: #ffffff;
  --login-button-text-color: #333;
  --login-icon-color: #333;
  --login-error-text-color: rgb(255, 16, 16);
  --login-input-label-color: #fff;
  --login-otp-text-color: #fff;
  --login-forgot-password-text-color: #fff !important;
  --login-footer-text-color: #fff;
  --login-footer-link-color: #fff !important;
  --sidebar-bg-color: #21262D !important;
}

.hl_login {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
  padding: 0 !important;
  margin-top: 0px !important;
  height: 100vh;
  background: var(--main-body-background-color);
}

.hl_login--header {
  background: #fff0 !important;
  border-bottom: 0 !important;
  padding: 0 !important;
  margin-bottom: 0px !important;
  display: flex;
}

.hl_login--header .container-fluid a img {
  max-height: 120px !important; /* Adjust this value to set the maximum height you want */
  width: 100%; /* To maintain the aspect ratio */
}


div.hl_login--body {
  max-width: 550px !important;
  width: 100% !important;
  background: var(--main-body-background-color) !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  padding-left: 30px;
}

.hl_login--body .card {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 auto !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  background: rgba(255, 255, 255, 0);
}

.hl_login--body .card .card-body {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hl_login .form-control {
  background: var(--input-box-background-color) !important;
  font-size: 0.875rem;
  color: #2a3135;
  border: 1px solid #bdbdbd !important;
  border-radius: 50px !important;
  padding: 15px 10px !important;
  box-shadow: inset 5px 0px 10px 1px rgba(0, 0, 0, 0.16);
}

.hl_login--body .login-card-heading {
  margin-bottom: 20px;
  text-align: center;
}

.hl_login--body .heading2 {
  margin-bottom: 10px;
  font-size: 25px;
  color: transparent !important;
  border-bottom: 3px solid #fff;
  line-height: 3rem;
}

/* SHOW DIFF TEXT INSTEAD OF STOCK TEXT
.hl_login--body .heading2::after {
content: "Log into LeadLabz" !important;
  font-size: 25px;
  color: var(--login-heading-color);
  line-height: 3rem;
position: absolute !important;
top: 0 !important;
margin: 0 !important;
text-align: center !important;
}
*/

.hl_login .button-holder.form-group {
  margin: 10px auto !important;
}

.hl_login--body .heading2 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
}

.hl_login--body .form-group label {
  display: none;
}

.hl_login--body .foot-note {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.hl_login--body a {
  color: var(login-footer-link-text) !important;
}

.hl_login--body div.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hl_login--body
  .form-group:nth-child(2)
  .hl-text-input-container
  > .relative::before {
  content: "\f007";
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -60px;
  color: var(--login-icon-color);
  background: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.hl_login--body
  .form-group:nth-child(3)
  .hl-text-input-container
  > .relative::before {
  content: "\f023";
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -60px;
  color: var(--login-icon-color);
  background: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.hl_login--body .form-group:nth-child(4) button::before {
  content: "\f0a9";
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -60px;
  color: var(--login-icon-color);
  background: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hl_login .sm\:text-sm {
  min-height: 50px;
}

.hl_login button {
  background-color: var(--login-button-background-color);
  color: var(--login-button-text-color);
  min-height: 55px;
}

.hl_login .hover\:bg-curious-blue-600:hover,
.hl_login button:hover {
  background-color: var(--login-button-background-hover-color) !important;
}

.hl_login #email-error {
  color: var(--login-error-text-color);
}

.hl_login .hl-text-input-label {
  color: var(--login-input-label-color);
}

.hl_login .font-semibold.cursor-pointer.text-curious-blue-500 {
  color: var(--login-input-label-color);
}

.hl_login [for="otp-for-email"],
.hl_login [for="otp-for-phone"] {
  color: var(--login-otp-text-color);
}

.hl_login .forgot-password {
  color: var(--login-forgot-password-text-color);
}

.hl_login .foot-note {
  color: var(--login-footer-text-color);
}

.hl_login .foot-note a {
  color: var(--login-footer-link-color);
}
